#desc_container{
    border: black;
    border-style: outset;
    box-shadow: 1px 1px 1px black;
}

#btn_logout{
    position: fixed;
    right: 0%;
}

.alingclass{
    margin-left: 15%;
}

  .booticon {
    display: inline-block;
    float: left;
    padding:0px 5px 0px 0px;
  }
