html{
    font-family: robot;
}
input{
    width: 100%;
    box-shadow: 0px 3px 8px gray;
}

select{
    width: 100%;
    box-shadow: 0px 3px 8px gray;
}
#btn_signup{
    margin-left: 40%;
    background-color: #214e8f;
    color: white;
    border: none;
}

.input_male{
    margin-left: 25%;
}

.lbl_male{
    margin-left: -180px;
}

#container_signup{
    width:60%;
    box-shadow: rgba(16, 16, 16, 0.35) 0px 3px 12px;    
    transform: translate(-50%, -50%); 
    border-radius:5px;
    margin-top: 23%;
    margin-left: 50%;
    position: fixed;
    resize: none;
}