<!-- <div>
  <p class="header"><img src="../../../assets/images/maveric-logo-updated.png">
    <label class="header_class"><h5>Maveric Bank App</h5></label>
  </p>
  <div class="d-grid justify-content-md-end header" *ngIf="showLogout">
    <button type="button" class="btn btn" id="btn_logout" (click)="logout()">Logout</button></div>
</div>
<hr> -->

<div class="d-flex align-items-center header p-2">
  <div class="row col-sm-2">
    <img src="../../../assets/images/maveric-logo-updated.png">
  </div>
  <div class="row-cols-sm-auto p-2 ">
    <h5>Maveric Bank App</h5>          
  </div>
</div>
<div class="d-grid justify-content-md-end header p-2" *ngIf="showLogout">
  <button type="button" class="btn btn" id="btn_logout" (click)="logout()">Logout</button></div>
<hr>